:root {
    --branco: #E7CEEB;
    --lavana: #AF36DF;
    --limao: #89B751;
    --violeta: #7F3AEF;
    --petroleo: #11061F;

    /* cores variaveis */
    --limao-claro: #D7F6B1;
    --fundo: #FAF5FB;
    --branco2: #FEFCFF;
    --titulo-roxo: #8720B0;
}

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: var(--fundo);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: min(.5rem, 1%) min(1rem, 10%);
    height: 7vh;

    background-color: var(--branco2);
    box-shadow: 0 0 5px #11061F30;

    position: fixed;

    width: 100%;
    box-sizing: border-box;

    z-index: 1000;

    img {
        width: clamp(2rem, 8vw, 100rem);
        cursor: pointer;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: clamp(3rem, 5vw, 10rem);

        a {
            font-size: clamp(.5rem, .5vw + .5rem, 1rem);
            position: relative;
            color: var(--petroleo);
        }

        a::after {
            content: "";
            position: absolute;

            width: 0;
            height: 2px;
            
            left: 0;
            bottom: -2px;
            border-radius: 10px;

            background: var(--lavana);

            transition: 300ms;
        }

        a:hover {
            color: var(--lavana);
        }

        a:hover::after {
            width: 100%;
        }
    }

    button {
        width: 5rem;
        padding: min(.5rem, 10%);
        border-radius: 25px;
        border: none;
        font-size: clamp(.2rem, .3vw + .5rem, 1rem);
    }
}

main {
    padding-top: 7vh;
}

main section {
    min-height: calc(100dvh - 7vh);
    scroll-margin-top: 7vh;
}

#hero {
    padding: 0 min(2rem, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 7vh);
    height: calc(100dvh - 7vh);

    div {
        height: 90%;
        border-radius: 25px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2%;

        padding: 0 min(2rem, 10%);

        h1, p {
            width: 50%;
            color: var(--branco2);
        }

        h1 {
            font-size: clamp(2rem, 2.5vw + 1rem, 10rem);
            opacity: 0;
            translate: 0 70px;
            transition: 700ms;
        }

        p {
            font-size: clamp(1rem, 1vw + .5rem, 2rem);
            opacity: 0;
            translate: 0 70px;
            transition: 700ms;
            transition-delay: 200ms;
        }

        button {
            width: fit-content;
            align-self: flex-start;

            padding: min(1rem, 5%);
            font-size: clamp(.5rem, 1vw + .5rem, 1rem);

            border-radius: 50px;

            margin-top: 1%;

            opacity: 0;
            translate: 0 70px;
            transition: 700ms;
            transition-delay: 400ms;
        }
    }
}

/* animacao do scroll no hero */
#hero.show {
    opacity: 1;
    transform: 0 0;
}

#hero h1.show {
    opacity: 1;
    translate: 0 0;
}

#hero p.show {
    opacity: 1;
    translate: 0 0;
}

#hero button.show {
    opacity: 1;
    translate: 0 0;
}

#beneficios {
    padding: 0 min(2rem, 10%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
        font-size: clamp(.75rem, 2vw + .5rem, 5rem);
        text-align: center;
        color: var(--lavana);

        opacity: 0;
        translate: 0 70px;
        transition: 700ms;
    }

    div {
        display: grid;
        grid-template-columns: 17rem 17rem 17rem 17rem 20vw;
        grid-template-rows: 13rem 13rem;
        grid-template-areas:
        "box-1 box-2 box-2 box-2 box-3"
        "box-4 box-4 box-5 box-5 box-3";
        gap: 5% 1%;

        .box {
            border-radius: 20px;

            opacity: 0;
            translate: 0 70px;
            transition: 700ms;

            h3 {
                color: var(--lavana);
                font-size: clamp(1rem, 1vw + .8rem, 3rem);
            }

            p {
                font-size: clamp(1rem, .75vw + .5rem, 2rem);
            }
        }

        #box-2, #box-3, #box-4 {
            background-color: var(--branco2);
        }

        #box-1 {
            background-color: var(--lavana);
            grid-area: box-1;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            transition-delay: 200ms;
        }

        #box-2 {
            grid-area: box-2;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            padding: 0 min(1rem, 5%) 0 min(2.5rem, 10%);

            transition-delay: 400ms;

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            img {
                width: 273px;
            }
        }

        #box-3 {
            grid-area: box-3;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: min(2.5rem, 10%);

            transition-delay: 600ms;

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        #box-4 {
            grid-area: box-4;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 0 min(2rem, 10%);

            transition-delay: 200ms;
        }

        #box-5 {
            background-color: var(--limao-claro);
            grid-area: box-5;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 3.5rem;

            padding: 0 min(2rem, 10%);

            transition-delay: 400ms;

            h3 {
                width: 50%;
            }

            img {
                width: 18%;
            }
        }
    }
}

/* animacao do scroll de beneficios */
#beneficios h1.show {
    opacity: 1;
    translate: 0 0;
}

#beneficios #box-1.show {
    opacity: 1;
    translate: 0 0;
}
#beneficios #box-2.show {
    opacity: 1;
    translate: 0 0;
}

#beneficios #box-3.show {
    opacity: 1;
    translate: 0 0;
}

#beneficios #box-4.show {
    opacity: 1;
    translate: 0 0;
}

#beneficios #box-5.show {
    opacity: 1;
    translate: 0 0;
}

#quem-somos {
    padding: 0 min(2rem, 10%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
        font-size: clamp(2rem, 2vw + .5rem, 5rem);
        text-align: left;
        color: var(--lavana);

        opacity: 0;
        translate: 0 70px;
        transition: 700ms;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        padding: min(.5rem, 2%) 0;
    }

    .container::-webkit-scrollbar {
        width: 16px;
    }

    .container::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    .container::-webkit-scrollbar-thumb {
        background: var(--limao-claro);
        border-radius: 50px;

        border: 5px solid transparent;
        background-clip: padding-box; 
    }

    .greeting-card, .card {
        height: 55vh;
        width: 15em;
        flex-shrink: 0;
        background-color: #d9d9d9;
        border-radius: 15px;
        padding: min(1.2rem, 5%);
    }

    .greeting-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: clamp(1rem, .8vw + .5rem, 3rem);

        background-color: var(--lavana);
        color: var(--branco2);

        opacity: 0;
        translate: 0 70px;
        transition: 700ms;

        img {
            width: clamp(1rem, 1.5vw, 3rem);
            transition: transform 200ms;
        }

        img:hover {
            transform: scale(1.05);
        }

        img:active {
            transform: scale(.9);
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: .5rem;

        opacity: 0;
        translate: 0 70px;
        transition: 700ms;

        .area {
            font-size: clamp(.55rem, .2vw + .2rem, 10rem);
            letter-spacing: .41rem;
            font-weight: 600;
        }

        .nome {
            font-size: clamp(1.5rem, .8vw + .75rem, 10rem);
            font-weight: 550;
        }
    }

    .card:nth-child(2) {
        transition-delay: 100ms;
    }

    .card:nth-child(3) {
        transition-delay: 200ms;
    }

    .card:nth-child(4) {
        transition-delay: 300ms;
    }

    .card:nth-child(5) {
        transition-delay: 400ms;
    }
}

/* animação do scroll de equipe*/
#quem-somos h1.show {
    opacity: 1;
    translate: 0 0;
}

#quem-somos .greeting-card.show {
    opacity: 1;
    translate: 0 0;
}

#quem-somos .card.show {
    opacity: 1;
    translate: 0 0;
}

/*
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: var(--pink);
    border-radius: 50px;

    border: 5px solid transparent;
    background-clip: padding-box; 
}

::-webkit-scrollbar-thumb:hover {
    background: #e65889;
    
    border: 5px solid transparent;
    background-clip: padding-box; 
}

::-webkit-scrollbar-thumb:active {
    background: var(--pink);
    
    border: 5px solid transparent;
    background-clip: padding-box; 
}
*/